# BitBuddy Services
market-data-service:
  enabled: true
  global:
    appName: 'market-data-service'
  deployment:
    image:
      repository: docker.io/franjofranjic
      tag: latest
      pullPolicy: Always
    env:
      - name: JAVA_TOOL_OPTIONS
        value: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
      - name: SERVER_PORT
        value: "8080"
      - name: KAFKA_BOOTSTRAP_SERVERS
        value: kafka:9092
    envFrom:
      - secretRef:
          name: bitbuddy-datasource-secret
    resources:
      limits:
        cpu: "1000m"
        memory: "1Gi"
      requests:
        cpu: "500m"
        memory: "512Mi"
    startupProbe:
      httpGet:
        path: /api/actuator/health
        port: 8080
      failureThreshold: 45
      periodSeconds: 15
      timeoutSeconds: 5
      successThreshold: 1

order-decision-service:
  enabled: true
  global:
    appName: 'order-decision-service'
  deployment:
    image:
      repository: docker.io/franjofranjic
      tag: latest
      pullPolicy: Always
    env:
      - name: JAVA_TOOL_OPTIONS
        value: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
      - name: SERVER_PORT
        value: "8080"
      - name: KAFKA_BOOTSTRAP_SERVERS
        value: kafka:9092
    envFrom:
      - secretRef:
          name: bitbuddy-datasource-secret

order-execution-service:
  enabled: true
  global:
    appName: 'order-execution-service'
  deployment:
    image:
      repository: docker.io/franjofranjic
      tag: latest
      pullPolicy: Always
    env:
      - name: JAVA_TOOL_OPTIONS
        value: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
      - name: SERVER_PORT
        value: "8080"
      - name: KAFKA_BOOTSTRAP_SERVERS
        value: kafka:9092
    envFrom:
      - secretRef:
          name: bitbuddy-datasource-secret

frontend:
  enabled: true
  global:
    appName: 'bitbuddy-frontend'
  deployment:
    image:
      repository: docker.io/franjofranjic
      tag: latest
      pullPolicy: Always
    livenessProbe:
      httpGet:
        path: /
        port: 3000
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 3
      successThreshold: 1
    readinessProbe:
      httpGet:
        path: /
        port: 3000
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 3
      successThreshold: 1
    startupProbe:
      httpGet:
        path: /
        port: 3000
      failureThreshold: 12
      periodSeconds: 10
  service:
    ports:
      - name: http
        port: 8080
        targetPort: 3000
        protocol: TCP

datasource:
  username: bitbuddy
  password: secretsecret
  url: jdbc:postgresql://bitbuddy.c72ugcukuhdk.us-east-1.rds.amazonaws.com:5432/bitbuddy

postgresql:
  enabled: false